body,
html {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: 'Nanum Gothic', sans-serif;
  background: #eeeeee;
}

header {
  position: sticky;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10%;
  background: #000;
}

header > span {
  color: #fff;
  font-size: 40px;
  font-weight: 700;
}

header > span > small {
  color: red;
  font-size: 40px;
  font-weight: 700;
  border-radius: 20px;
  padding: 6px 20px 6px 20px;
  transition: all 0.2s ease-in-out;
}

header > span:hover > small {
  background: red;
  color: #fff;
}

main {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

section {
  width: 1000px;
  margin: 0 auto;
}

#table {
  margin-top: 60px;
}

form {
  margin-top: 60px;
}

form span {
  font-weight: 900;
  font-size: 16px;
  text-transform: uppercase;
  margin-left: 8px;
  margin-right: 8px;
}

.detail button {
  padding-top: 2px;
  padding-bottom: 2px;
  margin: 0;
}

.win {
  color: #40c4ff;
}

.lose {
  color: #ff5252;
}

.detail-modal-header {
  border-bottom: none;
}

#rule {
  float: right;
}

.inputForm .left,
.inputForm .right {
  display: flex;
  margin: 0;
  padding: 0;
}

@media (max-width: 1250px) {
  main {
    width: 80%;
    margin: 0 auto;
  }

  main section {
    width: 100%;
  }

  .inputForm {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  header span,
  header span small {
    font-size: 30px;
  }

  .button_container {
    display: flex;
    flex-direction: column;
  }

  .button_container * {
    margin-bottom: 6px;
  }

  .button_container #rule {
    float: none;
  }
}

@media (max-width: 576px) {
  main {
    width: 95%;
  }

  header span,
  header span small {
    font-size: 22px;
  }
}

@media (max-width: 410px) {
  header span,
  header span small {
    font-size: 17px;
  }
}
